nav ul{

display:flex;

justify-content:center;

gap:35px;

position:relative;

}

.dropdown{

position:relative;

}

.mega-menu{

position:absolute;

top:100%;

left:0;

width:850px;

background:#fff;

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

padding:35px;

box-shadow:0 15px 35px rgba(0,0,0,.15);

opacity:0;

visibility:hidden;

transform:translateY(20px);

transition:.4s;

z-index:999;

}

.dropdown:hover .mega-menu{

opacity:1;

visibility:visible;

transform:translateY(0);

}

.mega-menu h3{

color:#e80071;

margin-bottom:15px;

}

.mega-menu a{

display:block;

padding:8px 0;

color:#444;

text-decoration:none;

}

.mega-menu a:hover{

color:#e80071;

padding-left:10px;

}

.mega-menu img{

width:100%;

border-radius:12px;

}

.makeup-offers,
.best-brands,
.beauty-tips,
.faq{

padding:80px 8%;

}

.offer-grid,
.tips-grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:30px;

}

.offer-card{

background:#ff4f8b;

color:#fff;

padding:40px;

border-radius:15px;

text-align:center;

transition:.4s;

}

.offer-card:hover{

transform:translateY(-10px);

}

.offer-card a{

display:inline-block;

margin-top:15px;

padding:10px 25px;

background:#fff;

color:#ff4f8b;

border-radius:30px;

font-weight:600;

}

.tip-card{

background:#fff;

padding:30px;

border-radius:15px;

text-align:center;

box-shadow:0 5px 20px rgba(0,0,0,.1);

}

.tip-card i{

font-size:45px;

color:#ff4f8b;

margin-bottom:20px;

}

.faq-box{

background:#fff;

padding:25px;

margin-bottom:20px;

border-radius:10px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.top-btn{

position:fixed;

bottom:30px;

right:30px;

width:55px;

height:55px;

background:#ff4f8b;

color:#fff;

display:flex;

justify-content:center;

align-items:center;

border-radius:50%;

font-size:22px;

box-shadow:0 5px 20px rgba(0,0,0,.2);

transition:.4s;

}

.top-btn:hover{

transform:scale(1.1);

}