

@media screen and (max-width:767px){

header{

flex-direction:column;

padding:15px;

}

.logo{

font-size:32px;

margin-bottom:15px;

}

.search-box{

width:100%;

margin:15px 0;

}

.search-box input{

width:100%;

}

.header-icons{

width:100%;

justify-content:space-evenly;

margin-top:15px;

}

nav{

overflow-x:auto;

background:#fff;

}

nav::-webkit-scrollbar{

display:none;

}

nav ul{

display:flex;

flex-wrap:nowrap;

width:max-content;

gap:18px;

padding:15px;

}

nav ul li{

flex:none;

}

.mega-menu{

display:none !important;

}

.task{

height:70vh;

padding:30px;

text-align:center;

}

.task-content h1{

font-size:34px;

}

.task-content p{

font-size:16px;

}

.brand-grid{

grid-template-columns:1fr 1fr;

}

.category-grid{

grid-template-columns:1fr 1fr;

}

.product-grid{

grid-template-columns:1fr;

}

.arrival-grid{

grid-template-columns:1fr;

}

.review-grid{

grid-template-columns:1fr;

}

.insta-grid{

grid-template-columns:repeat(2,1fr);

}

.features{

grid-template-columns:1fr;

}

.footer-grid{

grid-template-columns:1fr;

}

.luxury{

flex-direction:column;

}

.sale-banner{

height:280px;

padding-left:25px;

}

.sale-content h1{

font-size:38px;

}

.sale-content p{

font-size:17px;

}

}



@media screen and (min-width:768px) and (max-width:991px){

.brand-grid{

grid-template-columns:repeat(2,1fr);

}

.category-grid{

grid-template-columns:repeat(3,1fr);

}

.product-grid{

grid-template-columns:repeat(2,1fr);

}

.arrival-grid{

grid-template-columns:repeat(2,1fr);

}

.review-grid{

grid-template-columns:repeat(2,1fr);

}

.footer-grid{

grid-template-columns:repeat(2,1fr);

}

.features{

grid-template-columns:repeat(2,1fr);

}

.insta-grid{

grid-template-columns:repeat(3,1fr);

}

.luxury{

flex-direction:column;

}

.mega-menu{

width:95vw;

left:50%;

transform:translateX(-50%);

grid-template-columns:repeat(2,1fr);

}

}



@media screen and (min-width:992px) and (max-width:1200px){

.brand-grid{

grid-template-columns:repeat(4,1fr);

}

.category-grid{

grid-template-columns:repeat(4,1fr);

}

.product-grid{

grid-template-columns:repeat(3,1fr);

}

.arrival-grid{

grid-template-columns:repeat(4,1fr);

}

.review-grid{

grid-template-columns:repeat(3,1fr);

}

.footer-grid{

grid-template-columns:repeat(4,1fr);

}

.features{

grid-template-columns:repeat(4,1fr);

}

.mega-menu{

width:980px;

left:50%;

transform:translateX(-50%);

}

nav ul{

gap:18px;

}

}




@media screen and (min-width:1201px){

nav ul{

gap:28px;

}

}